<a href="https://colab.research.google.com/github/priyanshgupta1998/Programming-/blob/master/python/classes_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def fun(*args):
  print(args)
  print(type(args))
  s = 0
  for n in args:
    s += n
  print(" Sum is : %d" %s)

fun(100, 50, 3)

(100, 50, 3)
<class 'tuple'>
 Sum is : 153

In [4]:
def sqrt(x):
    """Returns the square root of a number"""
    try:
        return x ** (1/2)
    except TypeError:
        print('x must be int or float')
        
sqrt("1")

x must be int or float

In [10]:

d = {
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4
}

print( "second element is : %d" %d['two'] )

second element is : 2

In [11]:
import numpy as np
x = np.array([1, 2, 3, 4])
y = 3
x == y

array([False, False,  True, False])

In [12]:
f = lambda x, y: x * y
f(3,3)

9

In [13]:
class Planet:
    def __init__(self, name, diameter_km):
        self.name = name
        self.diameter_km = diameter_km
        
e = Planet('Earth' , 12742)
e.name, e.diameter_km

('Earth', 12742)

In [18]:
d = {
    'apple': 1,
    'banana': 2,
    'coconut': 3
}
d.pop('coconut')
print(d)

{'apple': 1, 'banana': 2}

In [20]:
d = {
    'apple': 1,
    'banana': 2,
    'coconut': 3
}
d['durian'] = 4
d

{'apple': 1, 'banana': 2, 'coconut': 3, 'durian': 4}

In [21]:
class Person:
    def __init__(self, name):
        self.name = name
m = Person('Michael')
m.name

'Michael'

In [24]:
class Planet:
    family = 'astronomical body'
    def __init__(self, name):
        self.name = name

n = Planet('Neptune')
n.family , n.name

('astronomical body', 'Neptune')

In [25]:
class Planet:
    family = 'astronomical body'

n = Planet()
n.family

'astronomical body'

In [26]:
class Cat:   
    def meow(self):
        return 'meow!'
s = Cat()
s.meow()

'meow!'